@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

html,
body {
  height: 100%;
  background-color: var(--color-bg);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}
